<div>
 <div id="isForwardContent">
 <div>
 <div id="content">
 <div style="background: white;width: 95%;max-width: 800px;margin: auto auto;
 border-radius: 15px;
 border: #39c5bb 1px solid;
 overflow: hidden;
 -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
 box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.18);
 ">
 <header style="overflow: hidden">
 <img src="https://seln.cn/img/1.jpg" style="width: 100%; z-index: 666" />
 </header>
 <div style="padding: 5px 20px;background-color: #46e1c60d">
 <div class="dear" style=" border-radius: 30px;
 position: relative;
 color: white;
 float: left;
 z-index: 999;
 background: #39c5bb;
 padding: 10px 30px;
 margin: -25px auto 0;
 box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
 ">亲爱的 {{index .Data "receiver_name"}}：</div>
 <br />
 <center>
 <h3>您收到了新的回复</h3>
 </center>
 <hr style="width:200px;border:0;border-bottom:1px solid #e5e5e5;margin:12px auto;" />
 <br>
 <p>
 您好！<strong>{{index .Data "sender_name"}}</strong> 回复了您在 <strong>"{{index .Data "page_title"}}"</strong> 的评论：
 </p>
 <div class="tk-content" style="border-radius: 8px;border: 1px solid #ddd; padding-bottom: 20px; background-color: #f5f5f5; margin: 15px 0px; padding-left: 20px; padding-right: 20px; padding-top: 20px; ">{{index .Data "comment_content"}}</div>
 <p>快去看看吧！</p>
 <div class="chakan" style="text-align: center;">
 <a href="{{.SiteURL}}{{.Link}}" style="color:#ffffff;text-decoration:none;display:inline-block;min-height:28px;line-height:28px;padding:0 13px;outline:0;background:#39c5bb;font-size:13px;text-align: center;font-weight:400;border:0;border-radius:999em" target="_blank">点击去查看回复&gt;&gt;</a>
 <p> </p>
 </div>
 <div class="footer-p" style="text-align: center; margin-top: 3rem; display:block;color:#b3b3b1;text-decoration:none;">
 <hr style="width:165px;border:0;border-bottom:1px solid #e5e5e5;margin:5px auto;" />&copy;&nbsp;{{.SiteName}}
 <p> </p>
 </div>
 </div>
 </div>
 </div>
 </div>
 <br />
 </div>
 <style type="text/css">
 .qmbox ::-webkit-scrollbar { display: none; }
 </style>
 <style id="cloudAttachStyle" type="text/css">
 .qmbox #divNeteaseBigAttach, .qmbox #divNeteaseBigAttach_bak { display: none; }
 </style>
 <style id="blockquoteStyle" type="text/css">
 .qmbox blockquote { display: none; }
 </style>
 <style type="text/css">
 .qmbox body { font-size: 14px; font-family: arial, verdana, sans-serif; line-height: 1.666; padding: 0; margin: 0; overflow: auto; white-space: normal; word-wrap: break-word; min-height: 100px; }
.qmbox td, .qmbox input, .qmbox button, .qmbox select, .qmbox body { font-family: Helvetica, 'Microsoft Yahei', verdana; }
.qmbox pre { white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; width: 95%; }
.qmbox th, .qmbox td { font-family: arial, verdana, sans-serif; line-height: 1.666; }
.qmbox img { border: 0; }
.qmbox header, .qmbox footer, .qmbox section, .qmbox aside, .qmbox article, .qmbox nav, .qmbox hgroup, .qmbox figure, .qmbox figcaption { display: block; }
.qmbox blockquote { margin-right: 0px; }
 </style>
 <style type="text/css">
 @media screen and (max-width: 1100px) {#content p {font-size: 10px;} #content h3 {font-size: 14px;} .footer-p {font-size: 9px;} .dear {font-size: 12px;}}
 </style>
 <style id="ntes_link_color" type="text/css">
 .qmbox a, .qmbox td a { color: #236da1; }
 </style>
</div>
</div>